* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 850px;
    margin: 0 auto;
}

.kotak {
    margin: 20px 0;
    padding: 20px;
    background-color: #F2F3F5;
    border-radius: 5px;
}

.kotak.hasil {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.kotak p {
    margin-top: 20px;
}

.teks {
    font-size: 20px;
}

.teksKategori {
    margin-bottom: 30px;
}

.teksBMI {
    font-size: 35px;
    color: black;
}

form {
    margin: 20px 0;
    padding: 20px;
    background-color: #F2F3F5;
    border-radius: 5px;
}

h1,
h2 {
    margin: 20px 0;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-check label {
    display: inline-block;
    margin-right: 10px;
}

.form-check-inline {
    display: inline-block;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    margin-right: 10px;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
}

.paragraph,
.paragraph2,
.paragraph4,
.paragraph5 {
    text-align: justify;
    line-height: 30px;
    color: #1f1e1e;
}

.paragraph2 {
    margin: 20px 0;
    line-height: 20px;
}

.paragraph4 {
    margin: 5px 0;
    line-height: 20px;
}

.paragraph5 {
    margin: 10px 0;
    line-height: 22px;
}

.paragraph3 {
    line-height: 22px;
    margin-left: 20px;
}

.list li {
    margin: 10px 0;
    list-style-type: none;
    text-align: center;
}


.button-container {
    margin: 10px 10px 0 0px;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.hidden {
    display: none;
}